@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050509;
  --surface: #0a0a0f;
}

body {
  color: rgb(255, 255, 255);
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

