@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050509;
  --surface: #0a0a0f;
}

html {
  background-color: #050509;
}

body {
  color: rgb(255, 255, 255);
  background-color: #050509;
  background: #050509;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

